<%= render 'form' %>

<!-- <form action="/restaurants" method="post">
  <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Enter a name</label>
  <input type="text" name="restaurant[name]">

  <label for="address">Enter an address</label>
  <input type="text" name="restaurant[address]">

  <label for="rating">Enter a rating</label>
  <input type="text" name="restaurant[rating]">

  <input type="submit">
</form>
 -->
